@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* .blog{
    width: 100%;
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #FDE9C9;

    gap: 50px;
}

.blog__cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.blog__img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.blog__title{
    font-size: 32px;
    color: rgb(36, 124, 95);
    font-weight: 400px;
}

.blog__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.blog__link{
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.blog__link-read{
    padding: 24px 56px;
    background-color: white;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid #13829B;
}

.blog__card--active{
    border: 1px solid #13829B;
}

@media screen and (max-width: 1100px) {
    
    .blog__img{
        width: 200px;
        height: 150px;
    }

    .blog__cards-container{
        gap: 40px;
    }

    .blog__card{
        gap: 10px;
    }

    .blog__title{
        font-size: 26px;
    }

    .blog__link{
        font-size: 12px;
    }

    .blog__link-read{
        padding: 15px 35px;
        font-size: 16px;
    }

}

@media screen and (max-width: 750px) {
    
    .blog__img{
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }

    .blog__title{
        font-size: 22px;
    }

    .blog__link{
        font-size: 10px;
    }

}

@media screen and (max-width: 550px) {
    .blog__cards-container{
        flex-direction: column;
        gap: 100px;
    }

    .blog__title{
        font-size: 32px;
    }

    .blog__link{
        font-size: 15px;
    }

    .blog__img{
        width: 200px;
        height: 200px;
    }

} */

body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    padding: 26px 80px;
    border-bottom: 2px solid #000;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    gap: 79px;
}

.nav__list-link--active{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}

.nav__logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fcc29a;
}

.nav__btn, .btn__link{
    padding: 12px 32px;
    border-radius: 8px;
    background-color: #13829b;
    color: white;
}

.hero{
    padding: 17px 0 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__info-container{
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 720px;
}

.info__subtitle{
    font-weight: 400;
    font-size: 18px;
    color: #13829b;
}

.info__title{
    font-weight: 700;
    font-size: 64px;
    color: #333;
}

.info__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 161%;
    color: #333;
    width: 550px;
}

.info__btn-container{
    display: flex;
    gap: 115px;
    align-items: center;
}

.info__title > span{
    color: #13829b;
    border-bottom: 10px solid #fde9c9;
}

.hero__img-container{
    position: relative;
}

.img__color{
    width: 886px;
    height: 313px;
    background-color: #fcc29a;
    position: absolute;
    z-index: -1;
    bottom: -78px;
    right: 0;
}

.img__filter-container{
    z-index: 1;
}

.img__kids{
    position: absolute;
    top: 194px;
    right: 90%;
    border-radius: 100%;
}

.filter__filter{
    width: 218px;
    height: 218px;
    background-color: #0a596b94;

    position: absolute;
    bottom: 20%;
    left: 90px;
}

.btn__link--active{
    background: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 17px;
    align-items: center;
}

.btn__link--active > img{
    padding: 15px 20px;
    width: 48px;
    height: 48px;
    background-color: #fde9c9;
    border-radius: 100%;
}

.feautures{
    margin-top: 175px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.feautures__card{
    padding: 0 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;

    border-right: 5px solid #fcc29a;
}

.feautures__card--notbord{
    border: none;
}

.feautures__card_title{
    font-weight: 600;
    font-size: 24px;
    color: #333;
}

.feautures__card_link{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
}

@media screen and (max-width: 1500px) {
    
    .img__filter-container{
        position: relative;
        right: -100px;
        z-index: -1;
    }

    .filter__filter{
        left: 5%;
        bottom: 10%;
    }

    .img__kids{
        right: 70%;
        width: 180px;
        height: 180px;
    }

    .img__color{
        height: 250px;
    }

    .info__title{
        font-size: 52px;
    }

    .hero__info-container{
        width: 600px;
    }

    .info__text{
        width: 450px;
    }

    .info__btn-container{
        gap: 50px;
    }

}

@media screen and (max-width: 1400px) {

    .hero{
        flex-direction: column;
    }

    .hero__img-container{
        display: flex;
        justify-content: end;
        width: 100vw;
    }

    .img__filter-container{
        
    }

}